#------------------------------------------------------------------------------
#
#     XILINX IS PROVIDING THIS DESIGN, CODE, OR INFORMATION "AS IS"
#     SOLELY FOR USE IN DEVELOPING PROGRAMS AND SOLUTIONS FOR
#     XILINX DEVICES.  BY PROVIDING THIS DESIGN, CODE, OR INFORMATION
#     AS ONE POSSIBLE IMPLEMENTATION OF THIS FEATURE, APPLICATION
#     OR STANDARD, XILINX IS MAKING NO REPRESENTATION THAT THIS
#     IMPLEMENTATION IS FREE FROM ANY CLAIMS OF INFRINGEMENT,
#     AND YOU ARE RESPONSIBLE FOR OBTAINING ANY RIGHTS YOU MAY REQUIRE
#     FOR YOUR IMPLEMENTATION.  XILINX EXPRESSLY DISCLAIMS ANY
#     WARRANTY WHATSOEVER WITH RESPECT TO THE ADEQUACY OF THE
#     IMPLEMENTATION, INCLUDING BUT NOT LIMITED TO ANY WARRANTIES OR
#     REPRESENTATIONS THAT THIS IMPLEMENTATION IS FREE FROM CLAIMS OF
#     INFRINGEMENT, IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS
#     FOR A PARTICULAR PURPOSE.
#    
#     <c> Copyright 2003 Xilinx, Inc.
#     All rights reserved.
#
#------------------------------------------------------------------------------
#
#	PLB DDR example UCF file for:
#		- 100MHz system
#		- 32-bit wide DDR
#		- 12-bits of DDR address
#		- 2-bits of DDR bank address
#  
#	Modify the UCF for the clock frequency and DDR interface used in the system
#------------------------------------------------------------------------------
NET "PLB_Clk" TNM_NET = "PLB_Clk";
TIMESPEC "TS_PLB_Clk" = PERIOD "PLB_Clk" 9.75 ns HIGH 50 %;

NET "Clk90_in" TNM_NET = "Clk90_in";
TIMESPEC "TS_CLK90" = PERIOD "Clk90_in"  9.75 ns HIGH 50% ;

TIMESPEC "TSCLK2CLK90" = FROM "PLB_Clk" TO "Clk90_in" 2.25 ns;

NET "DDR_Clk90_in" TNM_NET = "DDR_Clk90_in";
TIMESPEC "TS_DDR_Clk90_in" = PERIOD "DDR_Clk90_in" 9.75 ns HIGH 50 %;


NET "DDR_BankAddr<1>" 	IOSTANDARD = SSTL2_I;
NET "DDR_BankAddr<0>" 	IOSTANDARD = SSTL2_I;

NET "DDR_Addr<12>" 		IOSTANDARD = SSTL2_I;
NET "DDR_Addr<11>" 		IOSTANDARD = SSTL2_I;
NET "DDR_Addr<10>" 		IOSTANDARD = SSTL2_I;
NET "DDR_Addr<9>" 		IOSTANDARD = SSTL2_I;
NET "DDR_Addr<8>" 		IOSTANDARD = SSTL2_I;
NET "DDR_Addr<7>" 		IOSTANDARD = SSTL2_I;
NET "DDR_Addr<6>" 		IOSTANDARD = SSTL2_I;
NET "DDR_Addr<5>" 		IOSTANDARD = SSTL2_I;
NET "DDR_Addr<4>" 		IOSTANDARD = SSTL2_I;
NET "DDR_Addr<3>" 		IOSTANDARD = SSTL2_I;
NET "DDR_Addr<2>" 		IOSTANDARD = SSTL2_I;
NET "DDR_Addr<1>" 		IOSTANDARD = SSTL2_I;
NET "DDR_Addr<0>" 		IOSTANDARD = SSTL2_I;

NET "DDR_CASn" 			IOSTANDARD = SSTL2_I;
NET "DDR_CKE" 			IOSTANDARD = SSTL2_I;
NET "DDR_CSn" 			IOSTANDARD = SSTL2_I;
NET "DDR_RASn" 			IOSTANDARD = SSTL2_I;
NET "DDR_WEn" 			IOSTANDARD = SSTL2_I;

NET "DDR_DM<3>" 		IOSTANDARD = SSTL2_I;
NET "DDR_DM<2>" 		IOSTANDARD = SSTL2_I;
NET "DDR_DM<1>" 		IOSTANDARD = SSTL2_I;
NET "DDR_DM<0>" 		IOSTANDARD = SSTL2_I;

NET "DDR_DQS<0>"		IOSTANDARD=SSTL2_I;
NET "DDR_DQS<1>"		IOSTANDARD=SSTL2_I;
NET "DDR_DQS<2>"		IOSTANDARD=SSTL2_I;
NET "DDR_DQS<3>"		IOSTANDARD=SSTL2_I;

NET "DDR_DQS<0>"		PULLDOWN;
NET "DDR_DQS<1>"		PULLDOWN;
NET "DDR_DQS<2>"		PULLDOWN;
NET "DDR_DQS<3>"		PULLDOWN;

NET "DDR_DQ<31>" 		IOSTANDARD = SSTL2_II;
NET "DDR_DQ<30>" 		IOSTANDARD = SSTL2_II;
NET "DDR_DQ<29>" 		IOSTANDARD = SSTL2_II;
NET "DDR_DQ<28>" 		IOSTANDARD = SSTL2_II;
NET "DDR_DQ<27>" 		IOSTANDARD = SSTL2_II;
NET "DDR_DQ<26>" 		IOSTANDARD = SSTL2_II;
NET "DDR_DQ<25>" 		IOSTANDARD = SSTL2_II;
NET "DDR_DQ<24>" 		IOSTANDARD = SSTL2_II;
NET "DDR_DQ<23>" 		IOSTANDARD = SSTL2_II;
NET "DDR_DQ<22>" 		IOSTANDARD = SSTL2_II;
NET "DDR_DQ<21>" 		IOSTANDARD = SSTL2_II;
NET "DDR_DQ<20>" 		IOSTANDARD = SSTL2_II;
NET "DDR_DQ<19>" 		IOSTANDARD = SSTL2_II;
NET "DDR_DQ<18>" 		IOSTANDARD = SSTL2_II;
NET "DDR_DQ<17>" 		IOSTANDARD = SSTL2_II;
NET "DDR_DQ<16>" 		IOSTANDARD = SSTL2_II;
NET "DDR_DQ<15>" 		IOSTANDARD = SSTL2_II;
NET "DDR_DQ<14>" 		IOSTANDARD = SSTL2_II;
NET "DDR_DQ<13>" 		IOSTANDARD = SSTL2_II;
NET "DDR_DQ<12>" 		IOSTANDARD = SSTL2_II;
NET "DDR_DQ<11>" 		IOSTANDARD = SSTL2_II;
NET "DDR_DQ<10>" 		IOSTANDARD = SSTL2_II;
NET "DDR_DQ<9>" 		IOSTANDARD = SSTL2_II;
NET "DDR_DQ<8>" 		IOSTANDARD = SSTL2_II;
NET "DDR_DQ<7>" 		IOSTANDARD = SSTL2_II;
NET "DDR_DQ<6>" 		IOSTANDARD = SSTL2_II;
NET "DDR_DQ<5>" 		IOSTANDARD = SSTL2_II;
NET "DDR_DQ<4>" 		IOSTANDARD = SSTL2_II;
NET "DDR_DQ<3>" 		IOSTANDARD = SSTL2_II;
NET "DDR_DQ<2>" 		IOSTANDARD = SSTL2_II;
NET "DDR_DQ<1>" 		IOSTANDARD = SSTL2_II;
NET "DDR_DQ<0>" 		IOSTANDARD = SSTL2_II;

NET "DDR_DQ<31>" 		PULLDOWN;
NET "DDR_DQ<30>" 		PULLDOWN;
NET "DDR_DQ<29>" 		PULLDOWN;
NET "DDR_DQ<28>" 		PULLDOWN;
NET "DDR_DQ<27>" 		PULLDOWN;
NET "DDR_DQ<26>" 		PULLDOWN;
NET "DDR_DQ<25>" 		PULLDOWN;
NET "DDR_DQ<24>" 		PULLDOWN;
NET "DDR_DQ<23>" 		PULLDOWN;
NET "DDR_DQ<22>" 		PULLDOWN;
NET "DDR_DQ<21>" 		PULLDOWN;
NET "DDR_DQ<20>" 		PULLDOWN;
NET "DDR_DQ<19>" 		PULLDOWN;
NET "DDR_DQ<18>" 		PULLDOWN;
NET "DDR_DQ<17>" 		PULLDOWN;
NET "DDR_DQ<16>" 		PULLDOWN;
NET "DDR_DQ<15>" 		PULLDOWN;
NET "DDR_DQ<14>" 		PULLDOWN;
NET "DDR_DQ<13>" 		PULLDOWN;
NET "DDR_DQ<12>" 		PULLDOWN;
NET "DDR_DQ<11>" 		PULLDOWN;
NET "DDR_DQ<10>" 		PULLDOWN;
NET "DDR_DQ<9>" 		PULLDOWN;
NET "DDR_DQ<8>" 		PULLDOWN;
NET "DDR_DQ<7>" 		PULLDOWN;
NET "DDR_DQ<6>" 		PULLDOWN;
NET "DDR_DQ<5>" 		PULLDOWN;
NET "DDR_DQ<4>" 		PULLDOWN;
NET "DDR_DQ<3>" 		PULLDOWN;
NET "DDR_DQ<2>" 		PULLDOWN;
NET "DDR_DQ<1>" 		PULLDOWN;
NET "DDR_DQ<0>" 		PULLDOWN;
